.body-container {
  font-family: "Verdana", sans-serif;
  color: #333;
  line-height: 1.6;
}

/* Banner Inicial */
.inicio {
  text-align: center;
  padding: 60px 20px;
  background-color: white;
}

.prof {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.imagem-prof p {
  margin-bottom: 0px;
}

.inicio h2 {
  font-size: 32px;
  margin-top: 20px;
  text-align: center;
}

.inicio p {
  color: #555;
  margin: 15px 0;
}

.btn {
  background-color: #30d5c8;
  color: white;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #ffffff;
  color: #30d5c8;
  border: 2px solid #30d5c8;
}

/* Sobre Nós */
.about-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  max-width: 1100px;
  margin: 50px auto;
  padding: 20px;
}

.about-text {
  flex: 1;
  min-width: 300px;
}

.about-text h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.about-text p {
  font-size: 18px;
  color: #484848;
}

.foto-terapeuta {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

/* Como Funciona */
.how-works {
  background-color: #f0fdfc;
  padding: 50px 20px;
  text-align: center;
}

.how-works-title h2 {
  font-family: Georgia, serif;
  font-size: 26px;
  color: #484848;
  margin-bottom: 30px;
  text-align: center;
}

.how-works-text p,
.how-works-text ul {
  text-align: left;
  max-width: 900px;
  margin: 0 auto 20px auto;
  color: #484848;
  font-size: 18px;
}

.how-works-text ul {
  padding-left: 20px;
}

.how-works-text li {
  margin-bottom: 10px;
}

.highlight {
  background-color: #30d5c8;
  padding: 6px 10px;
  color: white;
  border-radius: 4px;
}

.highlight-cliente,
.highlight-prestador {
  color: #30d5c8;
  font-weight: bold;
}

/* Benefícios */
.benefits {
  background-color: #ffffff;
  padding: 60px 20px;
  text-align: center;
}

.benefits h2 {
  font-size: 28px;
  margin-bottom: 40px;
  text-align: center;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.benefit-item {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
  max-width: 300px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.benefit-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.benefit-item h3 {
  color: #30d5c8;
  font-size: 20px;
  margin-bottom: 10px;
}

.benefit-item p {
  font-size: 16px;
  color: #555;
}

@media (max-width: 768px) {
  .about-us {
    flex-direction: column;
    text-align: center;
  }

  .about-text,
  .foto-terapeuta {
    width: 100%;
  }

  .how-works-text p,
  .how-works-text ul {
    margin-left: 0;
    margin-right: 0;
  }

  .benefits-list {
    flex-direction: column;
  }
}
