footer {
  background-color: #30d5c8;
  color: #484848;
  padding: 50px 20px 30px 20px;
  text-align: left;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer-section {
  flex: 1 1 250px;
  margin: 20px 10px;
}

.footer-section h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #fff;
  font-weight: bold;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #484848;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s, text-decoration 0.3s;
}

.footer-section ul li a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Ícones de redes sociais */
.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  color: #ffffff;
  margin-right: 15px;
  font-size: 22px;
  transition: color 0.3s, transform 0.3s;
}

.social-icons a:hover {
  color: #1dbf73;
  transform: scale(1.2);
}

/* Linha inferior (copyright) */
.footer-bottom {
  background-color: #30d5c8;
  text-align: center;
  padding: 15px 10px;
  font-size: 14px;
  color: #484848;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 30px;
}

/* Responsivo */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    padding: 0 20px;
  }

  .footer-section {
    margin-bottom: 30px;
  }

  .social-icons a {
    font-size: 20px;
    margin-right: 10px;
  }
}
